SECRET_KEY=django-insecure-replace-this-in-production
BOT_TOKEN=8725934017:AAG8Sr9ihNorLeKCsb50wV5HzJnEOHfZX9c
DEBUG=False
ALLOWED_HOSTS=yourapp.railway.app,localhost
DATABASE_URL=postgresql://postgres:yjrvuzsBnjJfMKafoWkbLTFBJHEVJeif@postgres.railway.internal:5432/railway